$formBg: #fafafa;
$formBorder: #e9e9e9;
$componentBorder: #f0f0f0;
$componentBg: #fff;
$tableSeparatedBorder: #fff;
$descriptionText: #6a6a6c;
//info
$infoBg: #e6f4ff;

//error
$errorTextColor: #ff4d4f;
$errorBg: #fff2f0;

//success
$succesBg: #f6ffed;

//warning
$warningBg: #fffbe6;
