@use '/src/styles/helpers';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.notification {
  &-success {
    background-color: helpers.$succesBg;
  }
  &-error {
    background-color: helpers.$errorBg;
  }
  &-info {
    background-color: helpers.$infoBg;
  }
  &-warning {
    background-color: helpers.$warningBg;
  }
}
