@use '/src/styles/helpers';

.introduce-layout {
  margin: 30px 0 0;
}

.layout-title {
}

.layout-wrapper {
  margin: 20px 0 0;
  padding: 12px 20px;
  background: helpers.$formBg;
  border: 1px solid helpers.$formBorder;
  border-radius: 4px;
}
